*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

html{
    scroll-behavior: smooth;
	background-color: #F0FFF0;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
	position: fixed;
    padding: 3px 5px;
    display: flex;
    align-items: center;
	height: 120px;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
	background: #F8F8FF;
}

section nav .logo img{
    width: 250px;
    cursor: pointer;
    margin: 4px;
	margin-left: 30px;
    display: block;
    unicode-bidi: isolate;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 25px;
	margin-left: 60px;
}

section nav ul li a{
    text-decoration: none;
    color: #FFA500;
    font-weight: 500;
    font-size: 19px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #B22222;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #B22222;
}

section nav .icon i{
    font-size: 20px;
    color: #B22222;
    margin: 0 25px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #FF8C00;
}



/*Review*/

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1{
    font-size: 60px;
	display: flex;
    align-items: center;
    justify-content: center;
	margin-top:-750px;
	top:90px;
	margin-bottom:150px;
	font-weight: 700;
	color: #800000;
	position: relative;
	width: 700px;
	left:390px;
}

.review h1 span{
    margin-left: 15px;
    color: #fac031;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
}

.review .review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;
	position:relative;
	margin-bottom:-60px;
}

.review .review_box .review_card{
    width: 350px;
    height: 600px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 20px 30px;
    margin: 0 8px;
	margin-bottom:10px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 70%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
    text-align: center;
	margin-top:15px;
}

.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
	margin-top:7px;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
	margin-top:-10px;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}



@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');


/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 30px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #e0ac1c;
    font: normal 45px 'Cookie', cursive;
    margin: 0;
	margin-top: 10px;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 5px 15px;
    vertical-align: middle;
	margin-left: 70px;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    text-decoration: none;
    color: #ffffff;
}

.footer-distributed .footer-center p a:hover{
	color: #FFA500;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
	text-align: justify;
	margin-right: -50px;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    color: #ffffff;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
     